@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;300&display=swap');

*{
    box-sizing: border-box;
    /* border: 1px solid black; */
}
html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
}

.whole-container{
    width: 100%;
    /* height: 100vh; */
    display: flex;
}

.side-menubar{
    background-color: white;
    width: 15%;
}

.sm-logo{
    height: 7vh;
    padding: 10px 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #5C5C5C;
}

.side-menu{
    margin-left: 10px;
    height: 80vh;
}

.side-menu a{
    padding: 15px 25px;
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #757575;
    cursor: pointer;
}

.side-menu a i{
    padding-right: 15px;
}

.main-container{
    background-color: #f2f2f2;
    width: 85%;
}

.navbar-container{
    /* background-color: blue; */
    padding: 0px 30px;
    /* width: 100%; */
    height: 5%;
    display: flex;
}

.searchbar-container{
    /* background-color: aqua; */
    width: 75%;
    display: flex;
    align-items: center;
}

.boxContainer{
    background-color: white;
    position: relative;
    width: 300px;
    border: 3px solid #8A191D;
    padding: 0px 10px;
    border-radius: 50px;
}

.elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #424242;
    font-weight: 500;
}

.search:focus{
    outline: none;
}

#search-icons{
    font-size: 26;
    color: #8A191D;
}

.profile-container{
    /* background-color: aquamarine; */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.profile-container a{
    margin: 0 10px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #757575;
    cursor: pointer;
}

.content{
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
}

.content-1{
    background-color: #f2f2f2;
    width: 75%;
    height: 100%;
}

/* .cart-title{
    background-color: aqua;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.cart-title{
    padding: 20px 20px 20px 10px;
    /* width: 100%; */
    height: 5%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #202020;
    background-color: white;
    display: flex;
    align-items: center;
}
.line{
    background-color: white;
    margin: 0;
}
.category-title a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #757575;
    font-size: 15px;
    margin-left: 20px;
}

.cart-section{
    /* background-color: blue; */
    display: flex;
}

.cart-items-list{
    margin: 10px;
    width: 70%;
}

.cart-edit{
    background-color: white;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-edit1{
    display: flex;
    align-items: center;
}

.cart-edit1 label{
    padding: 0px 10px;
}

.cart-edit1 input[type="checkbox"]{
    width: 16px;
    height: 16px;
    border: 1px solid #8A191D;
    border-radius: 10px;
    cursor: pointer;
}

.cart-item{
    background-color: white;
    margin: 0 0 20px 0;
    padding: 10px 10px;
    display: flex;
}

.cart-item-left{
    display: flex;
    width: 75%;
}

.cart-item-right{
    width: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: space-between;
}

.cart-item-right button{
    display: block;
    background-color: #424242;
    padding: 5px;
    font-size: 17px;
    border: none;
    color: white;
    width: 100%;
}
.cart-item-right button:hover{
    cursor: pointer;
}
.cart-cbox{
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.cart-cbox input[type="checkbox"]{
    width: 16px;
    height: 16px;
    border: 1px solid #8A191D;
    border-radius: 10px;
    cursor: pointer;
}


.cart-img{
    background-color: #202020;
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
}

.cart-img img{
    width: 150px;
    height: 150px;
}

.cart-info{
    color: #202020;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    /* align-items:flex-start; */
    justify-content:flex-start;
    gap: 5px;
}

.cart-info1{
    font-family: 'Poppins', sans-serif;
    color: #202020;
    font-size: 18px;
}

.cart-info2,.artist{
    font-family: 'Poppins', sans-serif;
    color: #757575;
    font-size: 16px;
}

.cart-amt{
    color: #202020;
    padding: 0px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #8A191D;
    width: 100%;
    text-align: center;
}

.cart-summary{
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 30%;
    max-height: 280px;
}
.order-summary{
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #202020;
}

.checkout-summary-row{
    padding: 5px 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-label{
    color: #757575;
}

.checkout-value{
    color: #202020;
    font-size: 16px;
}

.checkout-summary-total{
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-label-total{
    color: #202020;
    font-size: 14px;
}

.checkout-value-total{
    color: #8A191D;
    font-size: 18px;
}

.checkout-btn{
    /* height: 100px; */
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.checkout-btn label{
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: white;
    width: 100%;
    /* height: 50px; */
    padding: 10px 30px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    background-color: #8A191D;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.checkout-btn label:hover{
    background-color: #74171a;
}
.checkout-btn button{
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    background-color: white;
}

.path{
    /* margin-top: 10px; */
    font-family: 'Roboto', sans-serif;
}
.path-name{
    font-size: 13px;
    color: #757575;
    padding: 5px 10px 10px 0px;
    margin: 0;
}

