@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;300&display=swap');

*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    background-color: #f2f2f2;
    margin: 0;

}
.side-menubar{
    background-color: white;
    width: 15%;
} 

.sm-logo{
    height: 7vh;
    padding: 10px 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #5C5C5C;
}

.side-menu{
    margin-left: 10px;
    height: 80vh;
    font-size: 15px;
} 

.side-menu a{
    padding: 15px 25px;
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #757575;
    cursor: pointer;
}

.side-menu a i{
    padding-right: 15px;
}
.main-section{
    
    width: 85%;
    margin: 0 auto;
    /* padding-left: 7px; */
    /* padding-right: 10px; */
    padding: 15px;
    padding-top: 1px;
}
.path-title{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #8a191da9;
    /* display: flex; */
    /* align-items: center; */
    position: relative;
    top: 4px;
    left: 5px;
}
#welcome{
    /* background-color: darkturquoise; */
    height: 3pc;
    /* text-align: center; */
}
.welcome-text{
    position: relative;
    top: 8px;
    left: 5px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #8A191D;
}
.category-title{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #8A191D;
    padding-bottom: 20px;
}
.path-title{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #8a191da9;
    display: flex;
    align-items: center;
    /* padding: 10px 30px; */
    margin-top: 5px;
}
.tables{
    width: 60%;
    margin: auto;
    min-width: 300px;
}
.pending, .running, .completed{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 10px;
    max-height: 500px;
}
.pending table, .running table{
    margin-top: 10px;
}
.titles{
    display: flex;
    justify-content: space-between;
}
.numbers{
    font-weight: bold;
    font-size: 13px;
}
