*{
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'Lora', sans-serif;
}
body{
    background-color: #fff;
}
.main{
    width: 100%;
    
}
.main-title{
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    /* margin: auto; */
    vertical-align: middle;
    height: 100%;
    display: inline-block;
    font-family: 'Lora', sans-serif;
}
.title-sec{
    /* display: inline-block; */
    height:60px;
    width:80%;
    margin:auto;
    /* border: 1px solid darkseagreen; */
    background-color: #a9a9a929;
    /* box-shadow: 2px 2px 3px rgb(142, 176, 142,0.5); */
    margin-top: 15px;
    /* border: 1px solid #d7dcec;
    border-radius: 4px;
    text-align: center;
    color: #fd6c6f;
    background-image: url('../images/art/next.jpg'); */
    
}
.orders{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0px;
    row-gap: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-top: 15px; */
    /* padding-left: 9px; */
    padding: 8px;
    background-color: #a9a9a929;
}
.order{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 49%;
    /* background-color: darkseagreen; */
    /* padding: 5px; */
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgb(194, 163, 163,0.5);
}
.product{
    width:23%;
    max-width: 120px;
    min-width: 80px;
    /* max-height: 200px; */
    padding: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.product img{
    width: 100%;
    margin: auto;
    border-radius: 2px;
}
.details{
    width: 77%;
    display: flex;
    flex-direction: column;
    /* background-color: beige; */
    background-color: #fff;
    padding: 8px;
}
.title{
    font-size: 18px;
    /* font-weight: bold; */
    /* margin-bottom: 5px; */
    font-family: 'Urbanist', sans-serif;
    /* text-align: center; */
}
.info{
    display: flex;
    flex-direction: column;
}
.inf{
    font-size: 13px;
}
.total{
    align-self: end;
    font-size: 17px;
    font-weight: bold;
}
.side{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.side .ord{
    margin-left: -10px;
    color: rgba(164, 128, 128,0.8);
}
.deet{
    /* min-width:40px; */
    /* background-color:aliceblue; */
    /* color:beige; */
    margin-left: 3px;
    
}
.total .deet{
    font-family: 'Urbanist', sans-serif;
}
@media screen and (max-width: 900px){ 
    .product{
        width: 100%;
        max-width: 100%;
        min-width: none;
    }
    .details{
        width: 100%;
    }
    .side .ord{
        margin-left: 0;
    }
}
#navbar{
  /* background-color: #f0cf15; */
  background-color: #ae7eae;
  padding-left: 50px;
}
#logo{
  color: #111111;
  font-weight: bold;
}
.nav-link{
  color: black;
  /* font-weight: bold; */
  /* text-shadow: 1px 1px 1px black; */
  margin-left: 15px;
  transition: 0.5s ease;
}
.nav-link:hover{
  color: white;
}
.icons{
  margin-right: 50px;
}
.icons img{
  margin-left: 10px;
  cursor: pointer;
}
/* footer */
#footer{
  padding: 0 0 30px 0;
  color: #d0d0d0;
  font-size: 14px;
  background: #111111;
}
#footer .footer-top{
  padding: 60px 0 30px;
  background: #1b1b1b;
  color: #fff;
}
#footer .footer-top .footer-contact a{
  font-size: 20px;
  color: #f0cf15;
  font-weight: bold;
}
#footer .footer-top .footer-contact a img{
  margin-right: 10px;
  margin-bottom: 10px;
}
#footer .footer-top .footer-contact h4{
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact p{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #b7b7b7; 
}
#footer .footer-top h4{
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links{
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul li{
  padding-right: 2px;
  color: #f0cf15;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li{
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child{
  padding-top: 0;
}
#footer .footer-top .footer-links ul li a{
  color: #aaaaaa;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover{
  text-decoration: none;
  color: #f0cf15;
}
#footer .footer-top .social-links a{
  font-size: 18px;
  display: inline-block;
  background: #373737;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover{
  background: #f0cf15;
  color: #fff;
  text-decoration: none;
}

#footer .copyright{
  text-align: center;
  float: left;
}
#footer .credits{
  float: right;
  text-align: center;
}