*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.main{
    width: 100%;
}
.main-title{
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin-top: 10px;
    /* margin: auto; */
    vertical-align: middle;
    height: 100%;
    display: inline-block;
}
.title-sec{
    /* display: inline-block; */
    height:60px;
    width:30%;
    margin:auto;
    border: 1px solid #d7dcec;
    border-radius: 4px;
    text-align: center;
    color: #fd6c6f;
    background-image: url('../images/art/next.jpg');
    
}
.orders{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0px;
    row-gap: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    /* padding-left: 9px; */
    padding: 8px;
    border: 1px solid darkseagreen;
    background-color: darkseagreen;
    box-shadow: 2px 2px 3px rgb(142, 176, 142,0.5);
}
.order{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 49%;
    /* background-color: darkseagreen; */
    /* padding: 5px; */
    border: 1px solid azure;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgb(194, 163, 163,0.5);
}
.product{
    width:20%;
    max-width: 105px;
    min-width: 80px;
    /* max-height: 200px; */
    padding: 5px;
    background-color: azure;
    display: flex;
    justify-content: center;
}
.product img{
    width: 100%;
    margin: auto;
    border-radius: 2px;
}
.details{
    width: 80%;
    display: flex;
    flex-direction: column;
    /* background-color: beige; */
    background-color: azure;
    padding: 8px;
}
.title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    /* text-align: center; */
}
.info{
    display: flex;
    flex-direction: column;
}
.inf{
    font-size: 15px;
}
.total{
    align-self: end;
    font-size: 17px;
    font-weight: bold;
}
.side{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.side .ord{
    margin-left: -10px;
    color: rgba(164, 128, 128,0.8);
}
.deet{
    /* min-width:40px; */
    /* background-color:aliceblue; */
    /* color:beige; */
    margin-left: 3px;
}
@media screen and (max-width: 900px){
    .product{
        width: 100%;
        max-width: 100%;
        min-width: none;
    }
    .details{
        width: 100%;
    }
    .side .ord{
        margin-left: 0;
    }
}
