@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700|Poppins&display=swap');


:root {
    --background: #ababadea;
    --color: #000000;
    --primary-color: #530606;
}

* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
    background: var(--background);
    color: var(--color);
    letter-spacing: 1px;
    transition: background 0.2s ease;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
}

a {
    text-decoration: none;
    color: var(--color);
}

h1 {
    font-size: 2.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.login-container {
    position: relative;
    width: 40%;
}
.form-container {
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    background-color: #F0FFF0;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    z-index: 99;
    padding: 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login-container form .input-field {
    display: block;
    padding: 14.5px;
    width: 80%;
    /* opacity: 0.7; */
    margin: 2rem 0;
    color: var(--color);
    outline: none;
    background-color: #9191911f;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.login-container form input:focus {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    animation: wobble 0.3s ease-in;
    -webkit-animation: wobble 0.3s ease-in;
}
.login-container form textarea {
    /* border: none; */
    border-radius: 5px;
    backdrop-filter: blur(15px);

}
.login-container form textarea:focus {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    animation: wobble 0.3s ease-in;
    -webkit-animation: wobble 0.3s ease-in;
}

/* Style for the input box when it's autofilled */
.form-container form input:-webkit-autofill {

    /* box-shadow: 0 0 16px 1px rgb(12 8 8) inset !important;
    -webkit-text-fill-color: #161515 !important; */
    background-color: #9191911f !important;

}

.login-container form button {
    background-color: var(--primary-color);
    color: var(--color);
    display: block;
    padding: 13px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.1s ease-in-out;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.login-container form button:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.circle {
    width: 8rem;
    height: 8rem;
    background: var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
}
/* 
.password-container {
	position: relative;
  }
  
  #passwordInput {
	padding-right: 10px; /* Provide space for the eye icon */
 /* }
  
  .toggle-password {
	position: absolute;
	top: 70%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
  }
  
  .toggle-password i {
	color: #b9b2b2;
  }
  
  .toggle-password-icon {
	position: fixed;
	top: 47.5%;
    right: 115px;
	transform: translateY(-50%);
	cursor: pointer;
  }
  
  .toggle-password-icon i {
	color: #b9b2b2; */
  /*} */
  /* Style for eye icon when password is visible */
  #passwordInput[type="text"] + .toggle-password i {
    /* position: fixed; */
	color: #b9b2b2;
    top: 0;
    right:0;
  }
  

  .password-container {
    position: relative;
    /* margin-bottom: 0; */
}

.password-input {
    width: 50%;
    margin-right: 100px;
    margin-bottom: 0;
    padding-right: 30px; /* Ensure space for the eye icon */
}

.toggle-password {
    position: relative;
    right: -70%;
    top: -44%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #b9b2b2;
}

/* .toggle-password {
    right: -60%;
} */

.hidden {
    display: none;
}

.toggle-password-icon {
    position: relative;
    right: -87%;
    top: -43%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #b9b2b2;
}

.illustration {
    position: absolute;
    top: -3%;
    right: -2px;
    width: 55%;
}

.icons i{
	font-size: 22px;
	margin: 0 7px;
	color: #530606;
	cursor: pointer;
  }
  .icons i:hover{
	transform: scale(1.1);
	color: #800e0e;
  }
.circle-one {
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-45%, -45%);
    -webkit-transform: translate(-45%, -45%);
    -moz-transform: translate(-45%, -45%);
    -ms-transform: translate(-45%, -45%);
    -o-transform: translate(-45%, -45%);
}

.circle-two {
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translate(45%, 45%);
    -webkit-transform: translate(45%, 45%);
    -moz-transform: translate(45%, 45%);
    -ms-transform: translate(45%, 45%);
    -o-transform: translate(45%, 45%);
}
.inline-fields {
    display: flex;
    margin-top: 0;
}


 /* Custom styles for radio buttons */
 input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid #868788;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
  }

  input[type="radio"]:checked {
    background-color: #530606;
    border: 2px solid #530606;
  }


.register-forget {
    margin: 1rem 0;
    display: flex;
	font-size: 0.8rem;
	text-align: center;
	flex-direction: column;
    justify-content: space-between;
}
.opacity {
    opacity: 0.8;
}

@keyframes wobble {
    0% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }
    25% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    75% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}
