@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;300&display=swap');

*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}
html,body{
    min-height: 100%;
}
body{
    min-height: 100vh;
    background-color: #f2f2f2 !important;
    margin: 0;
    padding: 0;
    height: auto !important;
    height: 100%;
}
.whole{
    display: flex;
    height: 100vh;
}
.side-menubar{
    background-color: white;
    width: 15%;
} 

.sm-logo{
    height: 7vh;
    padding: 10px 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #5C5C5C;
}

.side-menu{
    margin-left: 10px;
    height: 80vh;
}

.side-menu a{
    padding: 15px 25px;
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #757575;
    cursor: pointer;
}

.side-menu a i{
    padding-right: 15px;
}
.path-title{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #8a191da9;
    /* margin-top: 5px; */
    /* position: relative; */
    /* top: 4px; */
    /* left: 5px; */
    width: 50%;
}
main{
    height: 100%;
    width: 80%;
    margin: auto;
}
.main-sec{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    gap: 15px;  
}
.orders{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 5px rgba(174, 173, 173, 0.651);
}
.orders-current{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 20px 10px 20px;
    margin: 0 10px 0 10px;
}
.titles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 10px;
    font-family: 'Roboto', sans-serif;
    color: #8a191da9;
}
.section-title{
    /* margin-bottom: 15px; */
    color: #8A191D;
    margin: auto;
}
.total{
    font-size: 18px;
    color: #8A191D;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}
.others{
    width: 95%;
    display: flex;
    /* height: 50%; */
    margin: auto;
    justify-content: space-between;
}

.yearly{
    background-color: white;
    /* width:45%; */
    box-shadow: 0 0 5px rgba(174, 173, 173, 0.651);
    /* height: 250px; */
    /* overflow: auto; */
}
.monthly{
    /* width: 50%; */
    background-color: white;
    box-shadow: 0 0 5px rgba(174, 173, 173, 0.651);
    /* height: 280px; */
    /* padding: 5px; */
}

.glance-title{
    font-size: 23px;
    /* font-weight: bold; */
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    background-color: white;
    padding: 5px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.515);
    height: 50px;
    color: black;
}
.totals{
    /* margin-top: 20px; */
    /* background-color: rgb(229, 255, 246); */
    background-color: white;
    /* padding: 5px; */
    width: 250px;
    /* height: 85%; */
    /* border: 0.5px solid black; */
    box-shadow: 0 0 3px rgb(150, 143, 143) ;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.data{
    /* border: 10px solid rgb(95, 137, 227); */
    /* border-radius: 50px 50px; */
    width: 100px;
    margin: auto;
    text-align: center;
    font-size: 42px;
}
.data-value{
    margin: auto;
    position: relative;
    display: block;
    /* top:20px; */
    /* left: 30px; */
}
.line1, .line2{
    background-color: rgba(0, 0, 0, 0.388);
    height: 10px;
    margin-left: 20px;
}
.line1{
    width: 60%;
    margin-bottom: 0;
    margin-top: 6px;
}
.line2{
    width: 80%;
    margin-top: 5px;
}

